.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 30px auto 0;
}

.logo {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    text-decoration: none;

    &-image {
        @include size(36px);
    }

    &-text {
        @include text(600, 20px, 1.5);
        color: var(--color-black);
    }
}

.menu {
    display: flex;
    gap: 40px;
    list-style: none;
    font-family: "Poppins", sans-serif;

    &-item {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 6px;
    }

    &-text {
        @include text(500, 16px, 1.5);
        color: var(--color-black);
        text-decoration: none;

        &:hover {
            opacity: 0.7;
        }
    }

    &-icon {
        @include size(24px);
    }
}

#toggle {
    display: none;
    cursor: pointer;
    color: var(--color-dark);
}


// Responsive
@media screen and (max-width: 767.98px) {
    .header {
        margin: 0 24px 0;

        &-button {
            display: none;
        }
    }

    .menu {
        display: none;
    }

    #toggle {
        display: block;
    }
}

@media screen and (min-width: 768px) and (max-width: 1023.98px) {
    .header {
        margin: 0 24px 0;


        &-button {
            display: none;
        }
    }

    .menu {
        display: none;
    }

    #toggle {
        display: block;
    }

}