.button {
    display: inline-block;
    text-decoration: none;
    color: var(--color-white);
    background-color: var(--primarry-color);
    padding: 18px 50px;
    border-radius: 100px;
    font-family: "Poppins", sans-serif;
    @include text(600, 16px, 1.5);
}