.community {
    margin-top: 120px;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    &-title {
        max-width: 766px;

        span {
            color: var(--primarry-color);
        }
    }

    &-text {
        margin: 30px 0 44px;
        max-width: 682px;
        @include text(400, 20px, 1.5);
        color: var(--color-dark1);
    }

    &-form {
        max-width: 630px;
        border-radius: 100px;
        border: 1px solid var(--color-grey);
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &-button {
        @include size(64px);
        margin: 10px;
        border: 0;
        padding: 10px;
        background-color: var(--primarry-color);
        border-radius: inherit;
        display: flex;
        justify-content: center;
        align-items: center;

        svg {
            @include size(32px);
            color: #FFFFFF;
        }
    }

}

.input-email {
    margin: 27px;
    border: 0;
    @include text(400, 22px, 1);
    color: var(--color-dark);
    flex-grow: 1;
}

@media screen and (max-width: 767.98px) {
    .community {
        margin-top: 60px;

        &-text {
            margin: 20px 0 30px;
            font-size: 14px;
        }
    }

    .input-email {
        margin: 19px 30px;
    }
}