.community {
    margin-top: 120px;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    &-title {
        max-width: 766px;

        span {
            color: var(--primarry-color);
        }
    }

    &-text {
        margin: 30px 0 44px;
        max-width: 682px;
        @include text(400, 20px, 1.5);
        color: var(--color-dark1);
    }

    &-form {
        display: flex;
        justify-content: space-between;
        align-items: center;
        border-radius: 100rem;
        border: 1px solid var(--color-grey);
        padding: 10px;
        width: 100%;
        max-width: 630px;
    }

    &-button {
        @include size(64px);
        border: 0;
        background-color: var(--primarry-color);
        border-radius: inherit;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-shrink: 0;

        svg {
            @include size(32px);
            color: #FFFFFF;
        }
    }

}

.input-email {
    width: 100%;
    border: 0;
    @include text(400, 22px, 1);
    color: var(--color-dark);
    padding-inline: 18px;

    &::-webkit-input-placeholder {
        color: var(--color-dark1);
    }

    &::-moz-input-placeholder {
        color: var(--color-dark1);
    }
}

@media screen and (max-width: 767.98px) {
    .community {
        margin-top: 60px;

        &-text {
            margin: 20px 0 30px;
            font-size: 14px;
        }

        &-form {
            padding: 5px;
        }

        &-button {
            @include size(50px);
        }
    }
}