.market {
    margin: 120px auto 0;
    max-width: 1170px;

    // topic
    &-topic {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &-title {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 10px;

        span {
            color: var(--primarry-color);
        }



        p {
            @include text(600, 18px, 1.5);
            color: var(--color-dark);
        }

        &__img {
            &-fire {
                @include size(33px, 44px);
            }

            &-arrow {
                &-right {
                    width: 24px;
                }
            }
        }
    }

    &-more {
        text-decoration: none;
    }

    // filter
    &-filters {
        display: flex;
        align-items: center;
        gap: 16px;
        margin: 55px auto 0;
    }

    &-filter {
        text-decoration: none;
        padding: 18px 30px;
        background-color: white;
        @include text(500, 16px, 1.5);
        color: var(--color-dark);
        border: 1px solid var(--color-white1);
        border-radius: 100px;

        &:hover {
            background-color: var(--primarry-color);
            color: var(--color-white);
            transition: all 0.2s linear;
        }
    }

    // product
    &-products {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 30px;
        margin: 40px auto 0;
    }

    &-product {
        padding: 20px;
        border-radius: 12px;
        box-shadow: 0px 20px 80px -16px #504B560F;
        color: var(--color-dark);

        &:hover {
            .product-content {
                background-color: var(--color-dark);
                color: var(--color-white);
                transition: all 0.2s linear;
            }
        }
    }
}

.product {
    &-image {
        margin-bottom: 14px;
        position: relative;

        img {
            height: 330px;
            border-radius: 14px;
            object-fit: cover;
        }
    }

    &-avatar {
        display: flex;
        align-items: center;
        position: absolute;
        left: 18px;
        bottom: 23px;
        z-index: 2;

        img {
            @include size(30px);

            &:first-child {
                transform: translateX(8px);
            }

            &:last-child {
                transform: translateX(-8px);
                z-index: -1;
            }
        }
    }

    &-content {
        padding: 14px 20px;
        margin-top: 14px;
        border-radius: 10px;

        position: relative;

        p {
            @include text(500, 8px, 1.5);
            margin-top: 6px;
        }
    }

    &-text {

        text-decoration: none;
        color: var(--secondary-color);
    }

    &-title {
        @include text(600, 18px, 1.5);

    }

    &-price {
        display: flex;
        gap: 5px;
        align-items: center;
        margin-top: 12px;

        img {
            @include size(16px);
            border-radius: 100px;
        }
    }

    &-cost {
        @include text(400, 18px, 1.5);
    }

    &-button {
        font-weight: 500;
        padding: 8px 16px;
        position: absolute;
        bottom: 0;
        right: 20px;
        transform: translateY(-30%);

    }
}

@media screen and (max-width: 767.98px) {
    .market {
        margin-top: 70px;

        &-title {
            &__img {
                &-fire {
                    @include size(16px, 21px);
                }
            }

            &:last-child {
                display: none;
            }
        }

        &-filters {
            gap: 14px;
            margin: 20px auto 0;
            flex-flow: row wrap;
        }

        &-products {
            grid-template-columns: 1fr;
        }
    }
}

@media screen and (min-width: 768px) and (max-width: 1023.98px) {
    .market {
        margin-top: 70px;

        &-title {

            &:last-child {
                display: none;
            }
        }

        &-filters {
            gap: 14px;
            margin: 20px auto 0;
            flex-flow: row wrap;
        }

        &-products {
            grid-template-columns: repeat(2, 1fr);
        }
    }
}