.trending {
    margin: 120px auto 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 70px;
    max-width: 1167px;

    &-image {
        img {
            border-top-left-radius: 1000px;
            border-top-right-radius: 1000px;
            border-bottom-left-radius: 20px;
            border-bottom-right-radius: 20px;
            @include size(470px);
            object-fit: cover;
        }
    }

    &-author {
        display: flex;
        align-items: center;
        gap: 10px;
        margin-top: 10px;
    }

    &-time {
        display: flex;
        justify-content: space-between;
        align-items: center;
        max-width: 340px;
        gap: 20px;
        margin-top: 38px;
    }

    &-bid {
        margin-top: 18px;
        display: flex;
        flex-direction: column;
        gap: 4px;
        max-width: 117px;
    }

    &-button {
        margin-top: 38px;
        display: flex;
        gap: 20px;
    }
}

.author {
    &-image {
        @include size(30px);
        border-radius: 1000px;
    }

    &-text {
        @include text(400, 18px, 1.5);
        color: var(--color-dark1);

        a {
            color: var(--primarry-color);
            font-weight: 600;
            text-decoration: none;
        }
    }
}

.time {
    &-item {
        color: var(--primarry-color);
        @include size(70px);
        border-radius: 10px;
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 5px;

        &::before {
            content: "";
            position: absolute;
            inset: 0;
            border-radius: inherit;
            background-color: currentColor;
            opacity: 0.1;
            cursor: pointer;
        }
    }

    &__number {
        @include text(600, 16px, 1.5);
    }

    &__date {
        @include text(400, 16px, 1.5);
        color: var(--color-gray3);
    }
}

.bid {
    &-info {
        @include text(400, 14px, 1.5);
        color: var(--color-grey);
    }

    &-cost {
        @include text(700, 20px, 1.5);
        color: var(--color-dark1);
    }
}

.button {
    &-view {
        background-color: var(--color-dark);
    }
}

@media screen and (max-width: 767.98px) {
    .trending {
        flex-direction: column-reverse;

        &-image {
            img {
                @include size(327px);
            }
        }

        &-author {
            gap: 7px;
            margin-top: 10px;
        }

        &-time {
            max-width: 316px;
            gap: 12px;
            margin-top: 30px;
        }

        &-button {
            margin-top: 30px;
            gap: 12px;
        }
    }

    .button {
        &-place {
            padding: 11px 20px;
        }

        &-view {
            padding: 11px 20px;
        }
    }
}

@media screen and (min-width: 768px) and (max-width: 1023.98px) {
    .trending {
        gap: 50px;

        &-image {
            img {
                @include size(380px);
            }
        }
    }

    .button {
        &-place {
            padding: 12px 24px;
        }

        &-view {
            padding: 12px 24px;
        }
    }
}