$color-black: #000000;
$color-dark: #1F2326;


:root {
    --primarry-color: #1663F9;
    --secondary-color: #F5953A;

    --color-black: #000000;
    --color-dark: #1F2326;
    --color-dark1: #81879D;
    --color-gray: #C4C4C4;
    --color-gray2: #5D6C6C;
    --color-gray3: #8B9DC0;
    --color-grey: #B1B5C1;
    --color-white: #FFFFFF;
    --color-white1: #F0F0F0;
}